/* ================= RESPONSIVE ================= */

/* mobile */
@media (max-width: 767px) {
/* Abdelrhman Taha*/
.icon {
    display: flex;
}

.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--primary);
    padding: var(--space-md);
    z-index: 100;
}

.nav-links.active {
    display: flex;
}

.nav-links li {
    padding: 12px 0;
    text-align: center;
}

.auth-buttons {
    display: none;
}
.hero h1{
    font-size: 26px;
}
.hero p{
    font-size: 16px;
}
/* Abdelrhman Taha*/
}

/*==============================================================================*/
/* no one edit this part */
/* tablet */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* small desktop */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large desktop */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* no one edit this part */