/* ================= RESPONSIVE ================= */

/* mobile */
@media (max-width: 767px) {
/* Abdelrhman Taha*/
.icon {
    display: flex;
}

.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--primary);
    padding: var(--space-md);
    z-index: 100;
}

.nav-links.active {
    display: flex;
}

.nav-links li {
    padding: 12px 0;
    text-align: center;
}

.auth-buttons {
    display: none;
}
.hero h1{
    font-size: 26px;
}
.hero p{
    font-size: 16px;
}
.cards{
    grid-template-columns: 1fr;
}
.feature-boxes{
    grid-template-columns: 1fr;
}
.footer-content{
    grid-template-columns: 1fr;
    text-align: center;
}
.social-icons a{
    margin: 0 8px;
}
.search-hero h1{
    font-size: 28px;
}
.search-input-row{
    flex-direction: column;
}
.search-submit{
    justify-content: center;
}
.search-controls{
    grid-template-columns: 1fr;
}
.view-buttons{
    width: 100%;
}
.view-btn{
    flex: 1;
}
.results-header{
    align-items: flex-start;
    flex-direction: column;
}
.results-container.grid-view{
    grid-template-columns: 1fr;
}
.list-view .search-card{
    grid-template-columns: 1fr;
}
.list-view .search-card img{
    height: 190px;
}
/* Abdelrhman Taha*/
}

/*==============================================================================*/
/* no one edit this part */
/* tablet */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .results-container.grid-view{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* small desktop */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large desktop */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .results-container.grid-view{
        grid-template-columns: repeat(3, 1fr);
    }
}
/* no one edit this part */
