<header>
    <nav class="navbar">
        <div class="container">
            <div class="logo">Eduverse</div>
            <ul class="nav-links">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../pages/courses.html">Courses</a></li>
                <li><a href="../pages/faq.html">FAQ</a></li>
                <li><a href="../pages/search.html">Search</a></li>
                <li><a href="../pages/about.html">About</a></li>
                <li><a href="../pages/contact.html">Contact</a></li>
            </ul>
            <button type="button" id="theme-toggle" class="theme-toggle"><span>Dark</span></button>
        </div>
    </nav>
</header>
